Source: nsdirector
Section: net
Priority: optional
Maintainer: Pierre-Yves Kerembellec <py.kerembellec@gmail.com>
Build-Depends: debhelper (>= 5), git-core, golang-1.13
Standards-Version: 3.7.2

Package: nsdirector
Architecture: any
Description: PowerDNS advanced GeoDNS backend

